.pokemon-image {
  display: none;

  @include respond-to('md') {
    display: unset;
    position: absolute;
    height: 120px;
    top: 68px;
    left: 80px;
  }

  @include respond-to('lg') {
    height: 160px;
    left: 120px;
  }

  @include respond-to('xlg') {
    height: 200px;
    left: 160px;
  }
}

.pokemon-types {
  display: flex;
  justify-content: center;

  & > .type + .type {
    margin-left: baseline(5);
  }
}

.type-detail {
  padding: baseline(8) 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $background-400;
  }
}

.effectiveness-tabs {
  display: flex;
  justify-content: center;
  margin-top: baseline(3);

  & > .tab {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: baseline(3) baseline(4);
    cursor: pointer;
    outline: none;
    font-weight: 900;
    border-radius: baseline(5);
    background-color: $background;
    color: $primary-300;
    border: 1px solid $primary-300;
    transition: box-shadow 0.1s linear;

    &:hover,
    &:focus {
      box-shadow: 0 2px 12px $primary-600;
    }

    &.-active {
      border-color: $primary-600;
      background-color: $primary-300;
      color: $background;
    }
  }

  & > .tab + .tab {
    margin-left: baseline(5);
  }
}

.button-group {
  display: flex;
  align-items: center;

  & > .button + .button {
    margin-left: baseline(2);
  }
}

.button-image {
  border: none;
  background: inherit;
  cursor: pointer;
  outline: none;

  &:focus {
    box-shadow: 0 2px 8px $primary-600;
  }

  & > .image {
    width: auto;
    height: 2rem;
  }
}
