.type-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;

  & > .type {
    flex: 0 0 calc(33% - 8px);
    margin-top: 8px;
    margin-right: 8px;
  }

  @media screen and (min-width: 768px) {
    & > .type {
      flex-basis: calc(20% - 8px);
    }
  }

  @media screen and (min-width: 1024px) {
    & > .type {
      flex-basis: calc(10% - 8px);
    }
  }
}

.input-flex {
  display: inline-flex;
  padding: 12px 20px;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 2px solid #42b983;
  transition: border-width 1s ease-in-out;

  &::placeholder {
    color: #808080;
  }

  &:hover,
  &:focus {
    border-bottom-color: #266d4d;
  }
}

.pokemon-image {
  display: none;

  @media screen and (min-width: 1024px) {
    display: unset;
    position: absolute;
    height: 120px;
    top: 68px;
    left: 80px;
  }

  @media screen and (min-width: 1360px) {
    height: 160px;
  }

  @media screen and (min-width: 1440px) {
    height: 180px;
    left: 120px;
  }

  @media screen and (min-width: 1920px) {
    height: 200px;
    left: 160px;
  }
}

.pokemon-types {
  display: flex;
  justify-content: center;

  & > .type + .type {
    margin-left: 20px;
  }
}

.type-detail {
  padding: 32px 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #C4C4C4;
  }
}