$bug: #3c9950;
$dark: #595978;
$dragon: #448a95;
$electric: #e2e32b;
$fairy: #961a45;
$fighting: #994025;
$fire: #ab1f24;
$flying:#94b2c7;
$ghost: #33336b;
$grass:  #147b3d;
$ground: #a8702d;
$ice: #86d2f5;
$normal: #75525c;
$poison: #5e2d89;
$psychic: #a52a6c;
$rock: #48190b;
$steel: #60756e;
$water: #1552e1;

$pokemon-types-colors: (
  'bug': $bug,
  'dark': $dark,
  'dragon': $dragon,
  'electric': $electric,
  'fairy': $fairy,
  'fighting': $fighting,
  'fire': $fire,
  'flying': $flying,
  'ghost': $ghost,
  'grass':  $grass,
  'ground': $ground,
  'ice': $ice,
  'normal': $normal,
  'poison': $poison,
  'psychic': $psychic,
  'rock': $rock,
  'steel': $steel,
  'water': $water
);
