$bug: #3C9950;
$dark: #595978;
$dragon: #448A95;
$electric: #E2E32B;
$fairy: #961A45;
$fighting: #994025;
$fire: #AB1F24;
$flying:#94B2C7;
$ghost: #33336B;
$grass:  #147B3D;
$ground: #A8702D;
$ice: #86D2F5;
$normal: #75525C;
$poison: #5E2D89;
$psychic: #A52A6C;
$rock: #48190B;
$steel: #60756E;
$water: #1552E1;
