$baseline: 4px;

$breakpoints: (
  'xs': 410px,
  'sm': 768px,
  'md': 1024px,
  'lg': 1440px,
  'xl': 1920px
);

/* Palette */
$primary-300: #3d69a4;
$primary-600: #21395a;

$background: #fff;
$background-100: #f8f8f8;
$background-400: #c4c4c4;
$background-600: #808080;
$background-900: #000;
