$baseline: 4px;

$breakpoints: (
  'xs': 425px,
  'sm': 768px,
  'md': 1024px,
  'lg': 1440px,
  'xl': 1920px
);

@mixin respond-to($breakpoint) {
  $width: map-get($map: $breakpoints, $key: $breakpoint );
  @media screen and (min-width: $width) {
    @content;
  }
}

@function baseline($amount) {
  @return $baseline * $amount;
}
