.info-message {
  display: grid;
  padding: baseline(10) baseline(5);
  border-radius: baseline(10);
  text-align: center;

  @include respond-to('md') {
    margin: 0 auto;
    padding: baseline(20) baseline(40);
  }

  & > .image {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    filter: blur(8px);
    transition: filter 0.5s ease-in;
    margin-bottom: baseline(10);

    @include respond-to('sm') {
      width: 180px;
      height: 180px;
    }

    &.-error,
    &.-loaded {
      filter: none;
    }
  }

  & > .title {
    font-size: 1.5em;
    color: $primary-600;
    font-weight: bold;
    margin-bottom: baseline(5);

    @include respond-to('lg') {
      font-size: 2em;
    }
  }

  & > .message {
    font-size: 0.8em;
    color: $background-600;

    @include respond-to('lg') {
      font-size: 1em;
    }
  }
}
