.input-autocomplete {
  $left-spacing: baseline(2);
  $icon-size: 14px;

  width: 100%;
  position: relative;

  & > .label {
    display: block;
    font-size: 12px;
    color: $primary-600;
    font-weight: bold;
    transition: 0.35s ease-in-out;
    text-transform: capitalize;
    margin-bottom: baseline(3);
  }

  & > .input {
    width: 100%;
    font-size: 16px;
    padding: $left-spacing $left-spacing * 5;
    outline: none;
    border: 1px solid $primary-300;
    border-radius: baseline(2);
    transition: box-shadow 0.35s ease;
    color: $primary-600;

    &::-webkit-calendar-picker-indicator {
      display: none;
    }

    &:hover {
      border-color: $primary-600;
    }

    &:focus {
      box-shadow: 0 2px 8px $primary-600;
    }
  }

  & > .icon {
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    left: calc(100% - #{$icon-size} - #{$left-spacing * 2});
    bottom: 10px;
    background-repeat: no-repeat;

    &.-loading {
      background-image: url("assets/spinner-solid.svg");
      animation: spinner;
      animation-duration: 0.75s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    &.-search {
      background-image: url("assets/search-solid.svg");
      left: $left-spacing * 2;
    }
  }
}
