.outline-button {
  display: flex;
  align-items: center;
  padding: baseline(2) baseline(3);
  cursor: pointer;
  border: 2px solid #59a295;
  border-radius: baseline(2);
  transition: background 0.35s ease-in-out;
  outline: none;
  text-transform: uppercase;
  background: darkseagreen;
  color: white;

  & > .title {
    font-size: 1.4rem;
  }

  & > .close {
    font-size: 1.2rem;
    margin-left: auto;
  }
}
