.poke-type-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .title {
    flex: 1;
    font-size: 1.8rem;
    font-weight: bolder;
    line-height: baseline(5);
  }

  & > .badges {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 80px));
    row-gap: baseline(5);
    column-gap: baseline(2);

    @include respond-to('sm') {
      column-gap: baseline(4);
    }

    @include respond-to('md') {
      flex: 6;
    }

    @include respond-to('lg') {
      flex: 8;
    }

    @include respond-to('xl') {
      flex: 10;
    }
  }
}
