.poke-type-detail {
  display: flex;
  align-items: center;

  & > .title {
    flex: 0 0 26px;
    margin-right: baseline(8);
    font-size: 1.6rem;
    font-weight: bolder;
    line-height: baseline(5);
  }

  & > .badges {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 95px));
    row-gap: baseline(5);
    column-gap: baseline(2);

    @include respond-to('sm') {
      column-gap: baseline(4);
    }
  }
}
