.v-card {
  display: grid;
  row-gap: baseline(15);
  position: relative;
  background: $background;
  padding: baseline(10) baseline(6);
  border-radius: baseline(10);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);

  @include respond-to('sm') {
    padding: baseline(10) baseline(15);
  }

  @include respond-to('md') {
    padding: baseline(17) baseline(20);
  }

  @include respond-to('lg') {
    padding: baseline(17) baseline(30);
  }

  @include respond-to('xlg') {
    padding: baseline(17) baseline(40);
  }

  & > .header {
    display: grid;
    row-gap: baseline(6);
    background-color: $background;

    & > .title {
      font-size: 3em;
      font-weight: 600;
      text-transform: capitalize;
      text-align: center;
    }
  }
}
