#app {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  row-gap: baseline(5);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;

  & > .header,
  & > .content {
    padding: 0 baseline(2);

    @include respond-to('xs') {
      padding: 0 baseline(8);
    }

    @include respond-to('sm') {
      padding: 0 baseline(19);
    }

    @include respond-to('md') {
      padding: 0 baseline(25);
    }

    @include respond-to('lg') {
      padding: 0 baseline(40);
    }
  }

  & > .header {
    $vertical-spacing: baseline(3);

    display: flex;
    background: $primary-300;

    & > .logo,
    & > .locale {
      margin: $vertical-spacing 0;
    }

    & > .logo {
      $width: 163;
      $height: 60;
      $aspect-ratio: $width / $height;

      width: 0;

      @include respond-to('sm') {
        width: 2.5rem * $aspect-ratio;
        height: 2.5rem;
        margin-right: baseline(3);
      }
    }

    & > .nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: baseline(5) 0;
      margin-right: auto;

      & > .link {
        font-size: 1.4rem;
        color: $background;
        text-transform: capitalize;
        text-decoration: none;
        outline: none;

        &:focus {
          text-decoration: underline;
        }

        &:hover,
        &.router-link-exact-active {
          cursor: default;
          font-weight: bold;
        }
      }
    }
  }

  & > .content {
    display: flex;
    padding-bottom: baseline(12);
  }
}
