#app {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  row-gap: baseline(5);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;

  & > .header,
  & > .content {
    padding: 0 baseline(4);

    @include respond-to('xs') {
      padding: 0 baseline(8);
    }

    @include respond-to('sm') {
      padding: 0 baseline(19);
    }

    @include respond-to('md') {
      padding: 0 baseline(25);
    }

    @include respond-to('lg') {
      padding: 0 baseline(40);
    }
  }

  & > .header {
    display: flex;
    align-items: center;
    background: $primary-300;

    & > .logo {
      width: 0;
      margin: 0;

      @include respond-to('md') {
        width: auto;
        height: 6rem;
        margin-right: baseline(3);
      }
    }

    & > .nav {
      display: flex;
      flex-wrap: wrap;
      margin-right: auto;

      & > .link {
        padding: baseline(5) 0;
        font-size: 1.4rem;
        color: $background;
        text-transform: capitalize;
        text-decoration: none;
        outline: none;

        &:focus {
          text-decoration: underline;
        }

        &:hover,
        &.router-link-exact-active {
          cursor: default;
          font-weight: bold;
        }
      }
    }

    & > .locale {
      width: auto;
      height: 2rem;
      cursor: pointer;

      &:focus {
        box-shadow: 0 2px 8px $primary-600;
      }

      &:last-child {
        margin-left: baseline(3);
      }
    }
  }

  & > .content {
    display: flex;
    padding-bottom: baseline(12);
  }
}
